@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<li class="account_link">
    <AuthorizeView>
        <Authorized>
            <a href="#">
                <i class="icon-user icons text-danger"></i>
            </a>
            <ul class="dropdown_account_link">
                <li><a href="/user">My Account</a></li>
                <li><a href="/User/Orders">Order list</a></li>
                <li><a href="#" @onclick="Logout">Logout</a></li>
            </ul>
        </Authorized>
        <NotAuthorized>
            <a href="#">
                <i class="icon-user icons"></i>
            </a>
            <ul class="dropdown_account_link">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </NotAuthorized>
    </AuthorizeView>
</li>

@code {
    private void Logout()
    {
        // فقط به صفحه logout برو، کار logout در اون صفحه انجام میشه
        Navigation.NavigateTo("/logout");
    }

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
}
